
@{
    ViewBag.Title = "FAQ";
}
<div class="row">
    <div class="col-sm-12">
        <ol>
            <div class="col-sm-12 col-md-10">
                <h3><li><a href="#1">Can I clain morgage interest and property tax for the last year?</a></li></h3>
            </div>
            <div class="col-sm-12 col-md-10">
                <h3><li><a href="#2">I am the only one one the morgage but split it 50/50 with a roommate. Can I claim 100% of the morgage intrest?</a></li></h3>
            </div>
            <div class="col-sm-12 col-md-10">
                <h3><li><a href="#3">I purchased a double wide home on a rent to own bases. I pay the morgage each month and i have a contract with the owner stating that he has given total ownership over to me, but his name is still on the morgage until it it paid off. Can I claim interest?</a></li></h3>
            </div>
            <div class="col-sm-12 col-md-10">
                <h3><li><a href="#4">Can i deduct for time share interest, how will i know if my time share morgage is secured or not?</a></li></h3>
            </div>
            <div class="col-sm-12 col-md-10">
                <h3><li><a href="#5">Do I need to amend my taxes from last year?","I did not record the purchase of the house I bought and moved into on Oct 10th. I did record the morgage interest I paid since I did assume loan. I did record the selling of my primary house on my 2011 taxes and it was vacant from Oct 10th to July 11th"</a></li></h3>
            </div>
        </ol>
    </div>
    <div class="clearfix"></div>

    <section id="1">
        <div>
            <div class="col-sm-10">
                <h3>Can I clain morgage interest and property tax for the last yoar?</h3>
                <hr align="left" style="border-color: black; width: 70%" />
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-1">
                <p>
                    You can claim mortgage interest and property taxes you actually paid in the last year on property you own.
                </p>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="2">
        <div>
            <div class="col-sm-10">
                <h3>I am the only one one the morgage but split it 50/50 with a roommate. Can I claim 100% of the morgage intrest? My roommate did not claim any on the morgage intrest, she did not think to because her name is not on the 1098. Can my roommate claim 50%?</h3>
                <hr align="left" style="border-color: black; width: 70%" />
            </div>
            <div class="col-sm-12 col-lg-8 col-lg-offset-1">
                <p>
                    The mortgage is in your name and the 1098 is in your name..ou are the one who has to claim it on your taxes.and it sounds is if your room mate may have already completed her taxes?
                    Anyway Mr. IRS,uncle Sam, knows one thing, which is your name when it pertains to the mortgage and the credit for the interest paid. it's up to you if you want to compensate the room mate some how:)
                </p>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="3">
        <div>
            <div class="col-sm-12">
                <h3>I purchased a double wide home on a rent to own bases. I pay the morgage each month and i have a contract with the owner stating that he has given total ownership over to me, but his name is still on the morgage until it it paid off. Can I claim interest?</h3>
                <hr align="left" style="border-color: black; width: 70%" />
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-1">
                <p>
                    If you did not receive an Form 1098 Mortgage Interest Statement from the lender with your name on it, then no, you may not deduct the interest. Since your landlord still holds the mortgage in his name, it is highly likely that he is receiving the Form 1098 with his name on it, and most likely, he is deducting the interest from his income. Also, your landlord should be claiming your entire mortgage payment as rental income for his 2010 taxes. I suggest you contact the lender (or better yet, a Real Estate Lawyer to verify the legality of your "ownership contract" for tax purposes ) to see if you can "assume" the loan and have the mortgage put in your name so that future 1098s from the lender will be in your name.
                </p>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="4">
        <div>
            <div class="col-sm-12">
                <h3>Can i deduct for time share interest, how will i know if my time share morgage is secured or not?</h3>
                <hr align="left" style="border-color: black; width: 70%" />
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-1">
                <p>
                    Mortgage interest on a personal, vacation timeshare is deductible. However, mortgage interest is interest secured by an interest in the property. Much timeshare debt is consumer interest, not mortgage interest, and would not be deductible.
                </p>
            </div>
        </div>
    </section>
    <div class="clearfix"></div>
    <section id="5">
        <div>
            <div class="col-sm-12">
                <h3>Do I need to amend my taxes from last year?","I did not record the purchase of the house I bought and moved into on Oct 10th. I did record the morgage interest I paid since I did assume loan. I did record the selling of my primary house on my 2011 taxes and it was vacant from Oct 10th to July 11th?</h3>
                <hr align="left" style="border-color: black; width: 70%" />
            </div>
            <div class="col-sm-12 col-md-8 col-md-offset-1">
                <p>
                    You would generally not record the purchase of a house on your taxes. You would only record the sale, since the gain may be taxable. So if the only thing you were missing from your 2010 taxes was the purchase of the house, you do not need to file an amended return.
                </p>
            </div>
        </div>
    </section>
</div>

<div class="clearfix"></div>