<div id="Buy" class="form-part" style="display:none">
    <input name="LocationType" value="Buy" type="hidden">
    <div class="form-inline"><label>Name: </label><input name="LocationName"></div>
    <div class="form-inline"><label>City: </label><input name="LocationCity"></div>
    <div class="form-inline"><label>State: </label><input name="LocationState"></div>
    <div class="form-inline"><label>Loan Total: </label><input name="LocationLoad"></div>
    <div class="form-inline"><label>Interest Rate(Yearly): </label><input name="LocationInterest"></div>
    <div class="form-inline"><label>Down Payment: </label><input name="LocationDownPayment"></div>
    <div class="form-inline"><label>Premium Rate(Yearly): </label><input name="LocationPremium"></div>
    <div class="form-inline"><label>Local Property Tax Rate(Yearly): </label><input name="LocationLocalTax"></div>
    <input type="button" class="btn" value="Next" onclick="swapDivDisplayed(document.getElementById('Hobbies'))"/>
</div>
