<div id="Hobbies" class="form-part" style="display:none">
    <label class="form-inline">Hobby: <input type="text" name="" id="user_hobby" required="required" size="50px" class=""></label><br>
    <label class="form-inline">Pricing: <input type="number" name="" id="hobby_price" required="required" size="50px" class=""></label><br>
   
    <br />
    <input type="submit" name="userSubmit" id="user_submission" value="Submission" class="btn"/>
</div>
