<div id="Hobbies" class="form-part" style="display:none">
    <label class="form-inline">Hobby: <input type="text" name="Hobby.name" id="user_hobby" ></label><br>
    <label class="form-inline">Pricing: <input type="number" name="Hobby.costPerConsumption" id="hobby_price"></label><br>
   
    <br />
    <input type="submit" name="userSubmit" id="user_submission" value="Submission" class="btn"/>
</div>