
@{
    ViewBag.Title = "Home";
}

<img src="../Content/images/HobbyLogo.png" alt="Company Logo" style="width:691px;height:346px;">
<br>
<div>
    <input type="button" name="homeScreen" id="home_screen" value="Lets Get Started!!!" onclick="javascript: swapDivDisplayed(document.getElementById('userinfo1'));"></input>
</div>
