
@{
    ViewBag.Title = "Home";
}
<div id="home"></div>
<img src="../Content/images/HobbyLogo.png" alt="Company Logo" style="width:691px;height:346px;text-align:center" >
<br>
<div class="form-part">
    <input type="button" name="homeScreen" id="home_screen" alt="next_Home" value="Lets Get Started!!!" onclick="javascript: swapDivDisplayed(document.getElementById('userinfo1'));" style="width:250px;text-align:center"></input>
</div>