<script>
    function showhobbies() {
            document.getElementById('Rent').style.display = 'none'
            document.getElementById('Hobbies').style.display = 'block'
    }
</script>
<div id="Rent" class="form-part" style="display:none">
    <!-- Take back to userinfo2 name, city, state -->
    <input type="hidden" name="LocationType" value="Rent"/>
    <label class='form-inline'>Rent Location Name<input type="text" class="" name="Name" /></label>
    <label class='form-inline'> City Name<input type="text" class="" name="City" /> </label>
    <label class='form-inline'> State Name <input type="text" class="" name="State" /></label>
    <label class='form-inline'> Rent <input type="text" class="" name="Rent"/></label>
    <br/>
    <input type="button" class="btn" value="Next" onclick="showHobbies()">
 </div>
