<script>
    function showhobbies() {
            document.getElementById('Rent').style.display = 'none'
            document.getElementById('Hobbies').style.display = 'block'
    }
</script>
<div id="Rent" class="form-part" style="display:none">
    <!-- Take back to userinfo2 name, city, state -->
    <input type="hidden" name="LocationType" value="Rent"/>
    <label class='form-inline'>Rent Location Name<input type="text" class="" name="LocationName" /></label>
    <label class='form-inline'> City Name<input type="text" class="" name="LocationCity" /> </label>
    <label class='form-inline'> State Name <input type="text" class="" name="LocationState" /></label>
    <label class='form-inline'> Rent <input type="text" class="" name="LocationCost"/></label>
    <br/>
    <button onclick="showHobbies()">Next</button>
 </div>
