<div class="form-inline form-part" id="userinfo2" style="display:none; text-align: center;">
    <h2>Are you looking to buy or rent your housing?</h2>
    <label><input type="button" value="Rent" class="btn" onclick="selectHousing('Rent')"></label><br>
    <label><input type="button" value="Buy" class="btn" onclick="selectHousing('Buy')"></label><br>
</div>
