
<div class="form-inline" id="userinfo1" style="display:block">
    <label class="form-inline">Income: <input type="text" name="name" id="name" required="required" size="50px"  class="form-control"></label><br>
    <label class="form-inline">Year: <input type="text" name="hobby" id="hobby" required="required" size="50px"  class="form-control" ></label><br>
    <label class="form-inline"> Check this box if you are 59.5 or older, first time buying a home, or have not owned a house in the past 2 years <input type="checkbox" name=""></label>
    <br/>
    <input type="button" name="nextDiv1" id="income_tax_submission" value="Next" onclick="javascript: showDiv2();"></input>
</div>
