<div class="form-inline form-part" id="userinfo2" style="display:none">
    <label><button class="btn" onclick="selectHouse('Rent')">Rent</button></label><br>
    <label><button class="btn" onclick="selectHouse('Buy')">Buy</button></label><br>
    <button class="btn-danger">Done</button>
</div>
