<div class="form-inline form-part" id="userinfo2" style="display:none">
    <label><button class="btn" onmouseup="">Rent</button></label><br>
    <label><button class="btn" onmouseup="">Buy</button></label><br>
    <button class="btn-danger">Done</button>
</div>
