<div class="form-inline form-part" id="userinfo2" style="display:none; text-align: center;">
    <h2>Are you looking to buy or rent your housing?</h2>
    <label><button class="btn" onclick="selectHousing('Rent')">Rent</button></label><br>
    <label><button class="btn" onclick="selectHousing('Buy')">Buy</button></label><br>
    <button class="btn-danger">Done</button>
</div>
