
@{
    ViewBag.Title = "Home";
}

<img src="../Content/images/HobbyLogo.png" alt="Company Logo" style="width:691px;height:346px;">
<br>
<div>
    <FORM>
        <INPUT TYPE="button" onClick="parent.location='page.html'">Let's get started!!!</input>
    </FORM>
</div>