@{
    ViewBag.Title = "Home Page";
}

<script src='~/Content/Site.js'></script>

<div class="row">
    <div class="jumbotron">
        @using (Html.BeginForm())
        {
            <fieldset background-color="#FFFF99">
                @{ Html.RenderPartial("HomePartials/_Home");}

                @{ Html.RenderPartial("HomePartials/_UserInfo");}
                <!-- Render Housing info partial -->
                @{ Html.RenderPartial("HomePartials/_UserInfo2");}

                @{ Html.RenderPartial("HomePartials/_Rent");}
            
                @{ Html.RenderPartial("HomePartials/_Buy");}

                @{ Html.RenderPartial("HomePartials/_Hobbies");}

                @{ Html.RenderPartial("HomePartials/_Results");}
            </fieldset>
        }
        <hr>
       </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-circle" src="http://www.boutiquephotographer.net/wp-content/uploads/2015/04/WORK_Headshot-Square.004_WEB.jpg">
            <div class="caption">
                <h3>Dave Studin</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nulla leo, blandit sed odio eget, porta volutpat ante. Aliquam sit amet nisi et nisi tempus convallis vitae id leo.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-circle" src="http://philadelphiacorporateheadshots.org/wp-content/gallery/people/corporate-headshot-Philadelphia-36-Square.jpg">
            <div class="caption">
                <h3>Conor Wright</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nulla leo, blandit sed odio eget, porta volutpat ante. Aliquam sit amet nisi et nisi tempus convallis vitae id leo.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-circle" src="http://yastrow.com/speaker/steve-yastrow-headshot-square.jpg">
            <div class="caption">
                <h3>Paul Darragh</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nulla leo, blandit sed odio eget, porta volutpat ante. Aliquam sit amet nisi et nisi tempus convallis vitae id leo.</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
            <img class="img-circle" src="http://www.foodtechconnect.com/wp-content/uploads/2013/10/2013-headshot-square.jpg">
            <div class="caption">
                <h3>Peter "Chan" Kang</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nulla leo, blandit sed odio eget, porta volutpat ante. Aliquam sit amet nisi et nisi tempus convallis vitae id leo.</p>
            </div>
        </div>
    </div>
</div>